$tertiary : #0C1524;
$seconday :#494444;
$primary : #FEFAF0;
$textColor : #E53737;
$TextBg : #FFC2B0;
$buttonBg: #FF8159;
$spanBg : #242C3A;




.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  color: #0C1524;


  height: 60px;
  align-items: center;


  >.logo{
    >img{
      padding-left: 100px;
    }
  }

  > ul {
    display: flex;
    list-style-type: none;
    padding-left: 30px;

    > li {
      display: flex;
      margin-right: 20px;
      > a {
        color: #0C1524;
        text-decoration: none;
      }
    }
  }

  > .menubar {
    display: none;
    align-items: center;
    font-size: 22px;
    z-index: 1;
    padding-left: 30px;

    > ul {
      position: fixed;
      left: 0;
      top: 37px;
      background-color:  #0C1524;
      width: 200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-top: 50px;

      > li {
        list-style-type: none;
        padding: 10px;
        > span {
          > a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }

  > .userprofile {
    padding-right: 30px;
    display: flex;
    align-items: center;

    > p {
      font-style: italic;

      > button {
        border: none;
      }
    }

    > .dropdown {
      display: flex;
      margin-left: 20px;

      > ul {
        position: absolute;
        top: 40px;
        right: 0;
        width: 200px;
        background-color: #0C1524;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 30px;
        list-style-type: none;

        > li {
          padding: 5px 20px;
          cursor: pointer;
          color: #FEFAF0;

          &:hover{
            background-color: #FF8159;
          }
         

        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {


    >.logo{
      >img{
        padding-left: 30px ;
      }
    }
    > ul {
      display: none;
    }

    > .menubar {
      display: flex;
    }

    > .userprofile {
      > .dropdown {
        display: none;
      }
    }
  }
}
